@import url('https://fonts.googleapis.com/css2?family=Combo&family=Inter&family=Montserrat&family=Poppins:wght@400;700&display=swap');
$bg-color: rgb(18, 17, 17);

.navbar-bg {
    height: 7vh;
    background: rgb(18, 17, 17);
    display: flex;
    justify-content: center;



    .navbar {
        display: flex;
        width: 80%;
        height: 100%;
        margin: center;
        align-items: center;
        justify-content: space-between;


        .links {
            display: flex;
            align-items: center;

            h1 {
                cursor: pointer;
                color: #9fa5df;
                margin-right: 4rem;
                font-family: 'Combo', cursive;
                text-decoration: underline;
            }

            span {
                cursor: pointer;
                display: flex;
                align-items: center;
                color: rgb(255, 255, 255);
                margin: 0 2rem;
                transition: all 0.4s ease;
                font-family: 'Montserrat', sans-serif;
                position: relative;
                font-size: .8rem;
                text-decoration: none;
    
                &:hover {
                    color: #747fe4;
                }
            }
        }

        .contact {
            button {
                
                border: 1px solid red;
                cursor: pointer;
                background-color: #7881d4;
                border: none;
                padding: 1.4vh;
                border-radius: 20px;
                color: whitesmoke;
                font-family: 'Poppins', sans-serif;
                transition: all 0.5s ease;
                text-transform: wrap;

                &:hover{
                    filter: brightness(115%);
                }

            }

        }
    }
}

@media screen and (max-width: 800px){

    .navbar-bg{
        height: 14vh;
        .navbar{
            position: relative;
            .links{
                margin-top: 4rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                border-top: 1px solid white;
                padding: 1rem;

                
        
                h1{
                    position: absolute;
                    top: 1rem;
                    left: 40%;
                    text-decoration: none;
                    
                }
        
                span{
                    display: flex;
                    
                }
        
            }
        
            .contact{
                display: none;
            }
        }

    }

    
}



